@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-white m-0 p-0 flex place-items-center min-h-screen text-forest;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-tight;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
  min-width: 100px;
  width: 20vw;
}

.btn {
  z-index: 1;
  @apply relative block text-center text-white font-bold py-3 px-4 cursor-pointer;
}
.btn::after {
  content: "";
  z-index: -1;
  @apply absolute block inset-0 w-full h-full bg-aqua;
}

.btn--shape::before {
  content: "";
  z-index: -1;
  @apply absolute bg-fixed block -top-2 left-2 w-full h-full bg-gradient-to-br from-rose to-peach;
}

.shape {
  @apply relative block pt-6 pr-6 mx-auto w-max;
}

.shape::before {
  content: "";
  z-index: -1;
  @apply absolute bg-fixed block top-0 left-6 right-0 bottom-6 w-full h-full bg-gradient-to-br from-rose to-peach;
}

.btn:focus,
.btn:hover {
  @apply bg-forest;
}
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .btn {
    background-color: #f9f9f9;
  }
}
