@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply m-0 min-h-screen bg-white p-0 text-forest;
}

.section {
  @apply mx-0 p-8 md:p-12;
}
/* @media (min-width: 768px) {
  section {
    padding-left: calc((100vw - 700px) / 2);
    padding-right: calc((100vw - 700px) / 2);
  }
} */
@media (min-width: 1280px) {
  .section {
    padding-left: calc((100vw - 1100px) / 2);
    padding-right: calc((100vw - 1100px) / 2);
  }
}

.stacker {
  container: stacker / inline-size;
  display: flex;
  flex-flow: row wrap;
}

.stacker > * {
  flex-grow: 1;
  flex-basis: 240px;
  max-width: max-content;
}

/* @container stacker (max-width: 800px) {
  .stacker > * {
    @apply max-w-[300px] grow;
  }
} */

/* This matches the .parent container */
/* @container stacker (width < 800px) {
  .stacker > * {
    @apply mx-auto block;
  }
} */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-tight;
}

.copy-S ol,
.copy-S ul,
.copy-S p {
  @apply mb-2;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
  width: 110px;
}

.btn {
  @apply relative block cursor-pointer px-4 py-3 text-center font-bold text-white;
}

.btn > * {
  @apply relative z-10;
}

.btn::after {
  content: "";
  @apply absolute inset-0 block h-full w-full bg-aqua;
}

.shape-gradient {
  @apply bg-gradient-to-br from-rose to-peach bg-fixed;
}

.shape-S,
.shape-M,
.shape-L {
  @apply relative;
}

.shape-S > *,
.shape-M > *,
.shape-L > * {
  @apply relative z-10;
}

.shape-S::before,
.shape-M::before,
.shape-L::before {
  content: "";
  z-index: 0;
  @apply absolute block bg-gradient-to-br from-rose to-peach bg-fixed;
}

.shape-S::before {
  @apply -right-2 -top-2 bottom-2 left-2 md:-right-3 md:-top-3 md:bottom-3 md:left-3;
}

.shape-M::before {
  @apply -right-4 -top-4 bottom-4 left-4 md:-right-6 md:-top-6 md:bottom-6 md:left-6;
}

.shape-L::before {
  @apply -right-8 -top-8 bottom-8 left-8 md:-right-12 md:-top-12 md:bottom-12 md:left-12;
}

.cards {
  container: cards / inline-size;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.card {
  display: grid;
  grid-column: span 12;
  grid-template-rows: 1fr auto;
}

@media (width > 767px) {
  .card {
    grid-column: span 4;
  }
}

/* .shape-L {
  @apply relative block pt-6 pr-6 mx-auto w-max;
} */

.btn:focus,
.btn:hover {
  @apply bg-forest;
}
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

details {
  /* @apply py-4; */
}

details + details {
  @apply border-t-2;
}

details ol,
details ul,
details p {
  @apply mb-4;
}

details > *:last-child {
  @apply pb-4;
}

summary {
  @apply pb-4 pt-3 font-bold;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .btn {
    background-color: #f9f9f9;
  }
}
