@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-white m-0 p-0 flex place-items-center min-h-screen text-forest;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-tight;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
  min-width: 100px;
  width: 20vw;
}

.btn {
  @apply relative block text-center text-white font-bold py-3 px-4 cursor-pointer;
}

.btn > * {
  @apply relative z-10;
}

.btn::after {
  content: "";
  @apply absolute block inset-0 w-full h-full bg-aqua;
}

.shape-gradient {
  @apply bg-fixed bg-gradient-to-br from-rose to-peach;
}

.shape-S,
.shape-M,
.shape-L {
  @apply relative;
}

.shape-S > *,
.shape-M > *,
.shape-L > * {
  @apply relative z-10;
}

.shape-S::before,
.shape-M::before,
.shape-L::before {
  content: "";
  z-index: 0;
  @apply absolute bg-fixed block bg-gradient-to-br from-rose to-peach;
}

.shape-S::before {
  @apply -top-2 left-2 -right-2 bottom-2;
}

.shape-M::before {
  @apply -top-4 left-4 -right-4 bottom-4;
}

.shape-L::before {
  @apply -top-6 left-6 -right-6 bottom-6;
}

/* .shape-L {
  @apply relative block pt-6 pr-6 mx-auto w-max;
} */

.btn:focus,
.btn:hover {
  @apply bg-forest;
}
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

details {
  /* @apply py-4; */
}

details + details {
  @apply border-t-2;
}

details ol,
details ul,
details p {
  @apply mb-4;
}

details > *:last-child {
  @apply pb-4;
}

summary {
  @apply font-bold pt-3 pb-4;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .btn {
    background-color: #f9f9f9;
  }
}
